
body {
    background-image: URL("https://bit.ly/2w5u9HR");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
     font-size: 29px;
    }
h1 {
    margin-top: 0;
    font-family: sans-serif;
    text-align: center;
    font-size: 100%; 
    
}
.jumbotron{
    padding-bottom: 0%;
    margin-top: 0%;
}
h2{
    font-size: 90px;
    font-weight: 40px;
    color: black;
}
p{
    font-size: 25px;
    color: black;
}
.caption{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5%;
    padding-left: 7%;
    padding-right: 5%;

}
.action{
    font-size: 50%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    color:green;
    font-size: 50%
}
.active{
    background-color: rgb(238, 227, 227);
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 3%;
    padding-bottom: 2%;
}
.year {
    margin-left: 7%;
   }
   .century{
       margin-left: 7%;
   }
   .month {
    margin-left: 7%;
   }
   
   .day {
    margin-left: 7%;
   }

    .text1{
        font-size: 300px;
        color: orange;
       }
       
    .text2 {
        font-size: 200px;
        color: green;
       }
       
       .text3 {
        font-size: 200px;
       }
       .text4{
           color: red;
           font-size: 200px;
       }
       .portion{
        background:green;
        border-radius: 20px;
        cursor: grabbing;
        width: 40%;
        margin-left: 21%;
       }
       .portion:hover{
           color: white;
       }
       .row{
    
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -20px;
       }
    
       
       
    
       